.gallery {
  max-width: 1000px;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 75px 75px 75px;
  grid-column-gap: 50px;
  grid-row-gap: 100px;
  
}

 
.grid1 {
  display: flex;
  justify-content: center;
}

